* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(274deg, rgb(255, 255, 255) 0%, rgb(214, 227, 233) 66%, rgb(158, 189, 210) 86%, rgb(255, 255, 255) 92%);
  background: -o-linear-gradient(274deg, rgb(255, 255, 255) 0%, rgb(214, 227, 233) 66%, rgb(158, 189, 210) 86%, rgb(255, 255, 255) 92%);
  background: -ms-linear-gradient(274deg, rgb(255, 255, 255) 0%, rgb(214, 227, 233) 66%, rgb(158, 189, 210) 86%, rgb(255, 255, 255) 92%);
  background: -moz-linear-gradient(274deg, rgb(255, 255, 255) 0%, rgb(214, 227, 233) 66%, rgb(158, 189, 210) 86%, rgb(255, 255, 255) 92%);
  background: linear-gradient(176deg, rgb(255, 255, 255) 0%, rgb(214, 227, 233) 66%, rgb(158, 189, 210) 86%, rgb(255, 255, 255) 92%);
  background-repeat: repeat;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center
}

.text-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 2rem 3rem;
  text-align: center;
  background: #f9f9f9
}

h1 {
  font-size: 2rem
}

.bold {
  font-weight: 700;
  font-size: 1.3rem
}
/* -------------------------------------------------------- */
/* [zentriert|...] */
/* --------------- */
.aligncenter {
    text-align:center;
}
/* -------------------------------------------------------- */
/* [links|...] */
/* ----------- */
.alignleft {
    text-align:left;
}
/* -------------------------------------------------------- */
/* [rechts|...] */
/* ------------ */
.alignright {
    text-align:right;
}
/* -------------------------------------------------------- */
/* [block|...] */
/* ----------- */
.alignjustify {
    text-align:justify;
}
/* -------------------------------------------------------- */
/* {TABLEOFCONTENTS} */
/* ----------------- */
div.tableofcontents ul ul {
    /*padding-left:15px;*/
}
div.tableofcontents li.blind {
    list-style-type:none;
    list-style-image:none;
}
fieldset#searchfieldset {
   border:none;
   margin:0px;
   padding:0px;
}