:root {
 --main-color: #333;
 --bg-color: #fff;
 --font-color: #333;
 --padding: .625rem;
 --margin: .625rem
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
 color: var(--font-color);
  background: var(--bg-color);
  height: 100%;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.flexcontainer>* {
  padding: var(--padding)
}

header {
  display: none;
  flex-shrink: 0
}

nav {
  background: var(--main-color);
  border-top: 1px solid var(--bg-color);
  display: none;
  flex-shrink: 0
}

main {
  flex: 1 0 auto
}

footer {
  background: var(--main-color);
  color: var(--bg-color);
  text-align: center
}

footer a {
  color: var(--bg-color);
}

/*MENÜ*/

#menu-checkbox {
  display: none
}

#menu-checkbox:checked~nav {
  display: -webkit-flex;
  display: flex;
}

#menu-toggler {
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
  padding: 0 var(--padding);
  height: 4.375em;
  line-height: 4.375em;
  background: var(--main-color);
  color: var(--bg-color);
}

#menu-toggler-icon:after,
#menu-toggler-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#menu-toggler-icon:after {
  top: 9px;
}

#menu-toggler-icon {
  position: absolute;
  right: var(--padding);
  top: 1.875em
}

#menu-toggler-icon,
#menu-toggler-icon:after,
#menu-toggler-icon:before {
  width: 2.500em;
  height: 5px;
  background-color: var(--bg-color);
  transition: all 0.3s;
  border-radius: 2px;
}

#menu-checkbox:checked~#menu-toggler>#menu-toggler-icon {
  background-color: transparent;
}

#menu-checkbox:checked~#menu-toggler>#menu-toggler-icon:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-checkbox:checked~#menu-toggler>#menu-toggler-icon:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

nav ul li a {
  padding: 1em;
  color: var(--bg-color);
  text-decoration: none
}

ul.mainmenu,
ul.mainmenu a,
ul.detailmenu,
ul.detailmenu a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  list-style: none;
}

ul.mainmenu a:hover {
  background: var(--bg-color);
  color: var(--font-color)
}

ul.detailmenu {
  padding-left: 2em
}

.menuactive {
  font-weight: 700
}

/*MENÜ Ende*/

/*moziloCMS Syntax*/

.heading1,
.heading2,
.heading3,
h1,
h2,
h3 {
 color: var(--font-color);
  margin-bottom: var(--margin);
  margin-top: var(--margin);
}

.heading1 {
  font-size: 2em
}

.heading2 {
  font-size: 1.5em
}

.heading3 {
  font-size: 1.2em
}

.leftcontentimage {
  float: left
}

.rightcontentimage {
  float: right
}

.listitem {
  list-style-position: inside
}

.alignright {
  text-align: right
}

.alignleft {
  text-align: left
}

.aligncenter {
  text-align: center
}

table.contenttable {
  width: 100%;
  text-align: center;
}

th.contenttable {
  background: var(--main-color);
  color: var(--bg-color);
  border-right: 1px solid;
  padding: 7px
}

th.contenttable:last-child {
  border-right: none
}

td {
  padding: 7px;
  border-bottom: 1px solid color: var(--font-color);
}

a.link,
a {
 color: var(--font-color);
}

a.link:hover,
a:hover {
  text-decoration: none;
}

/* Hauptmenü (Galerie) */
ul.gallerymenu {
    padding     : 11px 8px 0px 0px;
    line-height : 23px;
    text-align  : center;
}

/* Detailmenü (Galerie) */
ul.gallerynumbermenu {
    padding     : 6px 8px 0px 8px;
    line-height : 20px;
    text-align  : center;
    width       : 100%;
    float       : none;
    margin      : 2px auto;
}

li.gallerymenu, li.gallerynumbermenu {
    display : inline;
    padding : 0 5px 0 5px;
}

/*Sitemap # search results  # tableofcontents*/

.result-list-header {
	display: block;
	font-size: 1.2em;
    margin: calc(var(--margin)*2) 0;
    border-bottom: 1px solid var(--font-color)
}

.result-list-item {
    padding-bottom: var(--padding);
    padding-left: calc(var(--padding)*2);
    list-style-type: none
}

#sitemap a, .searchmap result-list result-list a, .tableofcontents a {
    color: var(--font-color)
}

/*Syntax Ende*/

@media only screen and (min-width: 768px) {
  header {
    order: 1
  }
  nav {
    order: 2
  }
  main {
    order: 3;
    width: 70%;
    margin: 0 auto;
  }
  footer {
    order: 4;
    padding-top: calc(var(--padding)*3) !important;
    padding-bottom: calc(var(--padding)*3) !important;
  }
  header {
    display: -webkit-flex;
    display: flex;
    height: 15em;
    background: var(--main-color);
    color: var(--bg-color);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin)
  }
  header span {
    font-size: 5em;
  }
  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    border-top: none;
  }
  nav a {
    font-size: 1.2em;
  }
  ul.mainmenu {
    display: -webkit-flex;
    display: flex;
    flex: inherit;
    flex-direction: row;
    position: initial;
    margin-top: 0;
    border-top: 0
  }
  ul.mainmenu li {
    flex: inherit;
    position: relative;
    margin: 0;
    padding: 0;
  }
  ul.mainmenu a {
    height: 100%;
    align-items: center
  }
  ul.detailmenu {
    display: none;
    position: absolute;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    line-height: 1.5em;
    background: var(--main-color);
    min-width: 150%;
  }
  nav ul li:hover>ul {
    display: block
  }
  ul.detailmenu a {
    align-items: flex-start
  }
  ul.detailmenu a:hover {
    background: var(--bg-color);
    color: color: var(--font-color);
  }
  .menuactive {
    background: var(--bg-color);
   color: var(--font-color);
    font-weight: 400;
  }
  #menu-toggler {
    display: none
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 60%;
  }
}
/* -------------------------------------------------------- */
/* [block|...] */
/* ----------- */
.alignjustify {
    text-align:justify;
}
fieldset#searchfieldset {
   border:none;
   margin:0px;
   padding:0px;
}